
/*se realizara un degradado en la parte inferiro de las pantallas debido a que se esta haciendo referencia al html y no a las vistas*/
html {
    font-size: 14px;
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*Se estiliza imagen del logo*/
img {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    position-absolute top-50 start-0;
    border: 1px groove #2c3e50;
    padding: 2em;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
}

/*parametros para hacer responsiva la pagina a partir de CSS*/

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    form {
        color: white;
    }
}
